footer {
    max-width: 1000px;
    margin: 0 auto;

    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.cont {
    text-align: center;
    cursor: pointer;
}

.cyrcle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(151, 151, 151);
}

.cyrcle i {
    font-size: 20px;
    color: rgb(107, 107, 107);
}

.tx {
    text-align: center;
    font-size: 14px;
    color: rgb(107, 107, 107);
}